body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.table{
  font-size: 11px;
  color: rgb(6, 18, 149);
}

